// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 @import url('https://fonts.googleapis.com/css?family=Spectral+SC');
body {
  background-image: url(http://s1.1zoom.net/big3/531/357647-admin.jpg);
  font-family: 'Spectral SC';
  color: white;

}
a {
  color: white; size: 4;
}
